ADMIN_PASSWORD=change-me
GITHUB_TOKEN=
DOCS_REPOS=ocnbtl/projectfremen:main,pngwn-zero/pngwn-web:main,ocnbtl/projectpint:main
DOCS_MAX_FILES=120
SENTRY_AUTH_TOKEN=
SENTRY_ORG_SLUG=
SENTRY_PROJECT_SLUG_PNGWN=
SENTRY_PROJECT_SLUG_DIYESU=
SENTRY_API_BASE_URL=https://sentry.io/api/0
SENTRY_KPI_QUERY=is:unresolved
SENTRY_KPI_NAME_PNGWN=Errors Reported in Sentry
SENTRY_KPI_NAME_DIYESU=Errors Reported in Sentry
OBSIDIAN_EXPORT_DIR=
